<a href="https://colab.research.google.com/github/jsscmaina/machinelearning4102/blob/master/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from numpy import array
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LassoCV

In [6]:
from google.colab import files
uploads = files.upload()

Saving Nairobi Office Price Ex.csv to Nairobi Office Price Ex.csv

In [0]:
data = pd.read_csv('Nairobi Office Price Ex.csv')

In [0]:
data.info()

In [11]:
nominal = ['LOC', 'FUR', 'WATER', 'HK_SER']
ordinal = ['AMB', 'PROX_SCH', 'PROX_ROAD', 'PROX_MALL']
numerical=['SIZE']
target=['PRICE']
categorical_data = data.select_dtypes(include=['object']).copy()
column_names = list(categorical_data.columns)
for feature in column_names:
  categorical_data[feature]= categorical_data[feature].astype('category')
for feature in ordinal:
  categorical_data[feature] = categorical_data[feature].cat.codes
categorical_data.head()

        LOC  FUR  AMB  PROX_SCH  PROX_ROAD  PROX_MALL WATER HK_SER
0     karen  yes    2         0          1          1   yes    yes
1  madaraka  yes    1         1          1          1    no     no
2     karen   no    0         0          1          1   yes    yes
3     karen  yes    1         0          0          0   yes    yes
4  buruburu   no    1         0          1          1   yes    yes

In [0]:
data_copy = categorical_data.copy()
data_copy = pd.concat([pd.get_dummies(data_copy[nominal]), data_copy], axis=1)
data_copy.drop(nominal, axis=1, inplace=True)
#data_copy

new_data = pd.concat([data_copy, data[numerical], data[target]], axis=1)
new_data

In [0]:
all_features = list(new_data.columns)
X = new_data.loc[:, all_features].values
y = new_data.loc[:,["PRICE"]].values
X

In [0]:
X =StandardScaler().fit_transform(X)
X

In [22]:
pca = PCA(n_components=2)
pc_s = pca.fit_transform(X)
pca_data = pd.DataFrame(pc_s, columns=['PC1', 'PC2'])
final_data = pd.concat([pca_data, data[target]], axis=1)
final_data

         PC1       PC2      PRICE
0  -0.949207  3.278921  31.707006
1  -2.297029 -1.273714  68.777596
2   2.682650  1.824363  62.562382
3  -0.140739  1.828107  71.546632
4   3.068501 -0.085945  87.230925
5   2.076079 -2.470752  78.211518
6   1.611633 -2.885043  79.641973
7  -1.611303  0.172500  59.171489
8  -1.869082 -0.727396  75.331242
9  -2.122194 -1.331538  71.300880
10 -1.137147  2.049996  55.165677
11  2.715757 -0.531495  82.478847
12 -2.698942 -1.589861  62.008923
13  0.671022  1.741858  75.392870

In [16]:
pca.explained_variance_ratio_

array([0.23829154, 0.19268058])

In [18]:
X = final_data.drop("PRICE", 1)
y = final_data["PRICE"]
regressor = LassoCV()
regressor.fit(X, y)

LassoCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=100, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=None,
        selection='cyclic', tol=0.0001, verbose=False)