<a href="https://colab.research.google.com/github/jsscmaina/machinelearning4102/blob/master/TruncatedSVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
from sklearn.decomposition import TruncatedSVD
import pandas as pd

In [0]:
from google.colab import files
upload = files.upload()

Saving Nairobi Office Price Ex.csv to Nairobi Office Price Ex.csv

In [0]:
data = pd.read_csv('Nairobi Office Price Ex.csv')

In [0]:
nominal = ['LOC', 'FUR', 'WATER', 'HK_SER']
ordinal = ['AMB', 'PROX_SCH', 'PROX_ROAD', 'PROX_MALL']
numerical=['SIZE']
target = ['PRICE']
categorical_data = data.select_dtypes(include=['object']).copy()
column_names = list(categorical_data.columns)

for feature in column_names:
  categorical_data[feature] = categorical_data[feature].astype('category')

for feature in ordinal:
  categorical_data[feature] = categorical_data[feature].cat.codes

categorical_data.head()

        LOC  FUR  AMB  PROX_SCH  PROX_ROAD  PROX_MALL WATER HK_SER
0     karen  yes    2         0          1          1   yes    yes
1  madaraka  yes    1         1          1          1    no     no
2     karen   no    0         0          1          1   yes    yes
3     karen  yes    1         0          0          0   yes    yes
4  buruburu   no    1         0          1          1   yes    yes

In [0]:
data_copy = categorical_data.copy()
data_copy = pd.concat([pd.get_dummies(data_copy[nominal]), data_copy], axis=1)
data_copy.drop(nominal, axis=1, inplace=True)

new_data = pd.concat([data_copy, data[numerical], data[target]], axis=1)

In [0]:
X = new_data.drop("PRICE", 1)
y = data["PRICE"]
data_array = X.to_numpy()

In [0]:
Tsvd = TruncatedSVD(n_components=2)
data_approx = Tsvd.fit_transform(data_array)

In [0]:
Tsvd.singular_values_

array([190.59287448,   3.75044979])

In [0]:
data_approx
final_data = pd.concat([data_approx, data[target]], axis=1)
final_data

TypeError: ignored